# Additional recommended values
# Remove comments for those you want to use.
#
# AddDefaultCharset UTF-8
#
# php_flag short_open_tag on

ErrorDocument 404 /404/index.html

# leverage browser cache
# <IfModule mod_expires.c>
# ExpiresActive On
# ExpiresByType text/css "access 1 month"
# ExpiresByType image/gif "access 1 year"
# ExpiresByType image/png "access 1 year"
# ExpiresByType image/jpg "access 1 year"
# ExpiresByType image/jpeg "access 1 year"
# ExpiresByType text/javascript "access 1 week"
# ExpiresByType application/pdf "access 1 year"
# ExpiresDefault "access 7 days"
# </IfModule>

Options All -Indexes
